html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8f8008f;
    width: auto;
    height: 100%;
    margin: auto;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

body nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header {
    text-align: center;
}

.header img {
    width: 240px;
    height: auto;
}

.header h1 {
    text-align: center;
}

.description,
.ingredients,
.steps {
    text-align: center;
}

.recipes {
    background-color: chocolate;
    margin: auto 10%;
    padding: 5px;
    width: auto;
}

.recipes a {
    background-color: goldenrod;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;

}